.add-review {
  position: fixed;
  z-index: 10;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #474e5d7a;
  padding-top: 50px;
}

.add-review .review-modal {
  position: relative;
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  width: 30%;
  text-align: center;
  min-width: 400px;
  padding: 20px;
  border-radius: 10px;
}

.review-modal h1 {
  background-color: #bb8082;
  color: white;
  padding: 10px;
  font-size: 1.5rem;
  text-align: center;
}

.review-modal textarea {
  display: block;
  margin: 20px auto;
  resize: none;
}

.review-form input,
.review-form button {
  margin: 5px;
}


.rating {
  margin-block: 10px 1em;
}



.bold-txt {
  text-align: center;
  margin: 1em;
}

.rate-by-choise input {
  width: 20px;
}
.rate-by-choise input:last-child {
  width: 50px;
}



.stars {
  color: #e6e6e6;
}

.stars i {
  margin-inline: 2px;
}

.stars i.edit {
  cursor: pointer;
}
.stars i.active {
  color: #ff9c1a;
}
