.filter-form {
  justify-items: center;
  margin: 1em 0;

  border: 1px solid black;
  background-color: blanchedalmond;
}

.filter-form h1 {
  font-size: 1.5em;
}

.filter-form form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;

  min-width: 80%;
  margin: 1em;
}

.filter-form form input {
  min-width: 35%;
  height: 2.5em;
  padding: 1em;
}
