.books-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;

  padding: 1em;
  background-color: antiquewhite;
}

.book-container {
  max-width: 400px;
  text-align: center;
  padding: 1em;

  border: 1px solid black;
  border-radius: 10px;
  background-color: #8994da;
}

.book-container img {
  border-radius: 10px;
}
